<h3>All comments</h3>
<table class="table comments">
  <tbody>
  <% @band.comments.each do |comment| %>
      <tr><td>
        <span style="float:right"><%= comment.created_at.utc.strftime("%e. %B. %Y at %k:%M") %></span>
        <h4><%= User.find(comment.user_id).username %></h4>
        <div id="show-c<%= comment.id %>">
          <%= comment.text %>
        </div>
        <div id="edit-c<%= comment.id %>" class="hidden">
          <%= render :partial => 'comments/form', :locals => {:@comment => comment} %>
        </div>
        <% if can? :update, comment %>
            <%= button_tag(type: 'button', :class => "btn btn-default btn-xs edit-comment", :id => "c#{comment.id}", :style => "float: right") do
                content_tag(:span, 'Edit comment')
                end %>
        <% end %>
        <% if can? :destroy, comment %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        comment_path(comment), :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger delete-comment', :id => "c#{comment.id}", :style => "float: right" %><% end %>
      </td></tr>
  <% end %>
  </tbody>
</table>

<% if can? :create, Comment %>
    <div class="new-comment">
      <h3>Add new comment</h3>
      <%= render :partial => 'comments/form_add' , :action => 'new' , :object => @band %>
    </div>
<% end %>

<script>

    $(document).ready(function(){
        $('.edit-comment').click(function () {
            // hide actual content and show form
            $("#show-"+this.id).attr("class","hidden");
            $("#edit-"+this.id).attr("class","visible");
            //hide edit and delete buttons
            $(".edit-comment#"+this.id).attr("class","btn btn-default btn-xs edit-comment hidden");
            $(".delete-comment#"+this.id).attr("class","btn btn-xs btn-danger delete-comment hidden");
        });

        $('.back').click(function () {
            $("#edit-"+this.id).attr("class","hidden");
            $("#show-"+this.id).attr("class","visible");
            $(".edit-comment#"+this.id).attr("class","btn btn-default btn-xs edit-comment visible");
            $(".delete-comment#"+this.id).attr("class","btn btn-xs btn-danger delete-comment visible");
        });
    })

</script>