<%- model_class = User -%>
<div class="page-header">
  <h1>Fans</h1>
</div>

<div class="text-center">
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>

<% @users.each_slice(4) do |users| %>
  <div class="row">
    <% users.each do |user| %>
    <div class="col-sm-3">
      <div class="panel panel-default fan-panel">
        <div class="panel-heading">
          <span class="fan-name"><%= link_to user.pretty_name, user_path(user) %></span>
        </div>
        <div class="panel-body" style="min-height: 100px">
          <p><%= truncate user.email, :length  => 24, :omission => '...' %></p>
          <% if user.band_roles.length > 0 %>
              Member of
              <% if user.band_roles.length == 1 %>
                  <%= Band.find(user.band_roles[0].band_id).title %> (as <%= user.band_roles[0].role %>)<br>
              <% else %>
                  <%= user.band_roles.length %> bands
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>