<%- model_class = User -%>
<div class="page-header">
  <h1>Fans</h1>
</div>

<div class="text-center">
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>

<div class="fans">
  <% @users.each do |user|
    bandroles = BandRole.where(:user_id => user.id)
  %>
  <div class="fan">
    <p class="fan-name"><%= link_to user.username, user_path(user) %><br></p>
    <p><%= user.email %></p>
    <% if bandroles.length > 0 %>
        Member of
        <% if bandroles.length == 1 %>
            <%= Band.where(:id => bandroles[0].band_id)[0].title %> (as <%= bandroles[0].role %>)<br>
        <%else %>
            <%= bandroles.length %> bands
        <% end %>
    <% end %>
    </dl>
  </div>
  <% end %>
</div>