<%- model_class = User -%>
<div class="page-header">
  <h1>Fans</h1>
</div>

<div class="text-center">
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>

<div class="fans">
  <% @users.each do |user| %>
  <div class="fan">
    <span class="fan-name"><%= link_to user.username, user_path(user) %></span>
    <%if user.fullname %>(<em><%= user.fullname %></em>)<% end %>
    <p><%= user.email %></p>
    <% if user.band_roles.length > 0 %>
        Member of
        <% if user.band_roles.length == 1 %>
            <%= Band.find(user.band_roles[0].band_id).title %> (as <%= user.band_roles[0].role %>)<br>
        <%else %>
            <%= user.band_roles.length %> bands
        <% end %>
    <% end %>
    </dl>
  </div>
  <% end %>
</div>