<% content_for :sidebar do %>
  <h3>Your profile</h3>
  <%= render "users/show_profile" %>
<% end %>

<% unless current_user.unconfirmed_concerts.empty? %>
    <div class="panel-heading  bg-warning ">
      <h3 class="panel-title text-warning">Please, confirm attendance of your band on following concerts:</h3>
    </div>
    <ul>
      <% current_user.unconfirmed_concerts.each do |concert, band| %>
          <li class="list-unstyled">
            <strong><%= link_to concert.title, concert_path(concert) %></strong>
            (<%= band.title %>)
          </li>
      <% end %>
    </ul>
<% end %>

<% unless current_user.favourite_bands.empty? %>
    <h3>Events of your favourite bands:</h3>
    <table class="table table-striped concerts">
      <tbody>
      <% current_user.favourite_bands_confirmed_concerts.each do |concert| %>
        <%= render "home/table", :locals => {:concert => concert} %>
      <% end %>
      </tbody>
    </table>
<% end %>

<% unless current_user.confirmed_concerts.empty? %>
  <h3>Incoming events of your band(s):</h3>
  <table class="table table-striped concerts">
    <tbody>
    <% current_user.confirmed_concerts.each do |concert| %>
        <%= render "home/table", :locals => {:concert => concert} %>
    <% end %>
    </tbody>
  </table>
<% end %>