<%= form_for @concert, :html => { :class => "form-horizontal concert" } do |f| %>
  <% if @concert.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@concert.errors.count, "error") %> prohibited this concert from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @concert.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-lg-2 required' %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => 'form-control' %>
      <%=f.error_span(:title) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :location, :class => 'control-label col-lg-2 required' %>
    <div class="col-lg-10">
      <%= f.text_field :location, :class => 'form-control' %>
      <%=f.error_span(:location) %>
    </div>

  </div>
  <div class="form-group">
      <%= f.label :capacity, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :capacity, :class => 'form-control' %>
        <%=f.error_span(:capacity) %>
      </div>
  </div>
  <div class="form-group">
    <%= f.label :from_date, :class => 'control-label col-lg-2 required' %>
    <div class="col-lg-10">
      <%= f.text_field :from_date, :class => 'form-control', :id => "datetimepicker_from" %>
      <%=f.error_span(:from_date) %>
    </div>
  </div>
  <div class="form-group">
      <%= f.label :to_date, :class => 'control-label col-lg-2 required' %>
      <div class="col-lg-10">
        <%= f.text_field :to_date, :class => 'form-control', :id => "datetimepicker_to" %>
        <%=f.error_span(:to_date) %>
      </div>
  </div>
  <div class="form-group">
      <%= f.label :price, :class => 'control-label col-lg-2 required' %>
      <div class="col-lg-10">
        <%= f.text_field :price, :class => 'form-control' %>
        <%=f.error_span(:price) %>
      </div>
  </div>
  <div class="form-group">
      <%= f.label :performing_bands, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%
           selected_bands = []
           unless @concert.id.nil?
             bands_id = Performer.where(:concert_id => @concert.id).select(:band_id)
             bands_id.each do |id|
               selected_bands.push(Band.find(id.band_id).id)
             end
           end
        %>
        <%= select_tag(:performing_bands, options_from_collection_for_select(Band.all,"id","title",{:selected=>selected_bands}), {:multiple => true, :class => "bands-select form-control" }) %>
        <%=f.error_span(:performing_bands) %>
      </div>
  </div>


  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                concerts_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>

<script type="text/javascript">
    <%
     minDate = DateTime.current.to_s
     from = DateTime.current.to_s
     to = DateTime.current.to_s
     unless @concert.id.nil?
        from = @concert.from_date.strftime("%Y-%m-%dT%H:%M:%S%:z")
        to = @concert.to_date.strftime("%Y-%m-%dT%H:%M:%S%:z")
        end %>

    $(document).ready(function () {
        $('#datetimepicker_from').datetimepicker({
            format: 'D. M. YYYY, H:mm',
            defaultDate: "<%= from %>"
            <% if from == minDate %>,minDate: "<%= minDate %>"<% end %>
        });
        $('#datetimepicker_to').datetimepicker({
            format: 'D. M. YYYY, H:mm',
            defaultDate: "<%= to %>"
            <% if to == minDate %>,minDate: "<%= minDate %>"<% end %>
        })

        window.onload = function() {
            if(!window.location.hash) {
                window.location = window.location + '#loaded';
                window.location.reload();
            }
        }
    });
</script>
