<%- model_class = Concert -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <% if can? :create, Concert %>
    <%= link_to t('.new', :default => t("helpers.links.new")), new_concert_path, :class => 'btn btn-primary' %>
  <% end %>
</div>

<table class="table table-striped concerts">
  <tbody>
  <% @concerts.each do |concert| %>
  <tr><td>
    <div class="event-date">
      <p class="event-month"><%= concert.from_date.strftime("%b %Y") %></p>
      <p class="event-day"><%= concert.from_date.strftime("%e") %></p>
    </div>
    <%= link_to concert.title, concert_path(concert), :class => "concert-title" %><br>
    <%= model_class.human_attribute_name(:Where) %>: <%= concert.location %><br>
    <%= model_class.human_attribute_name(:from) %>: <%= concert.from_date.strftime("%e. %B %k:%M") %>, to <%= concert.to_date.strftime("%e. %B %k:%M")  %>
    <%= link_to "More information", concert_path(concert), :style => "float: right" %>
  </td></tr>
  <% end %>
  </tbody>
</table>





