<% if @band.errors.any? %>
  <div id="error_expl" class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title"><%= pluralize(@band.errors.count, "error") %> prohibited this band from being saved:</h3>
    </div>
    <div class="panel-body">
      <ul>
      <% @band.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :title, :class => 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= f.text_field :title, :class => 'form-control' %>
    <%=f.error_span(:title) %>
  </div>
</div>

<div class="form-group">
  <%= f.label :description, :class => 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= f.text_area :description, :class => 'form-control' %>
    <%= f.error_span(:description) %>
  </div>
</div>

<div class="form-group">
  <%= f.label :genres, :class => 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= f.select :genre_ids, get_all_genres.collect { |x| [x.title, x.id] }, {},
                 :multiple => true, :class => 'form-control', :size => '8' %>
    <%= f.error_span(:genres) %>
  </div>
</div>

<% if action == 'new' %>
  <%= f.hidden_field(:active,  :value => true) %>
<% else %>
  <div class="form-group">
    <%= f.label :active, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.check_box :active, :data => { :size=>'medium', 'on-color'=>'success', 'on-text'=>'YES', 'off-text'=>'NO' } %>
      <%= f.error_span(:active) %>
    </div>
  </div>
<% end %>

<div class="form-group">
  <%= f.label :header, :class => 'control-label col-lg-2', 'data-toggle' => 'tooltip', 'data-placement' => 'right',
              :title => 'Image dimensions: width 1200px, height: 450' %>
  <div class="col-lg-10">
    <div class="input-group">
      <span class="input-group-btn">
        <span class="btn btn-default btn-file">
          Browse <%= f.file_field :header %>
        </span>
      </span>
      <input type="text" class="form-control" value="<%= @band.header_file_name || 'click \'Browse\' to select an image' %>" readonly>
    </div>
    <%= f.error_span(:header) %>

    <% if @band.header.exists? %>
        <br />
        <div class="thumbnail">
          <%= image_tag @band.header.url(:medium), :alt => @band.header_file_name, :class => 'img-responsive' %>
          <div class="caption text-center">
            <%= f.check_box_tag :remove_header, 1, false, :data => { 'on-color' => 'danger',  'on-text' => 'Remove',
                                                                     'off-text' => 'None', 'label-text' => 'Action' } %>
          </div>
        </div>
    <% end %>
  </div>
</div>

<h2>Band members</h2>

<% if action == 'edit' %>
  <%= link_to 'Add new member', '/bands/' + @band.id.to_s + '/add-member', :class => 'btn btn-default' %><br /><br />
<% end %>
