<% content_for :sidebar do %>
    <h3>Actions</h3>
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation"><%= link_to 'Manage albums', band_albums_path(@band) %></li>
      <li role="presentation"><%= link_to 'Manage songs', band_songs_path(@band) %></li>
    </ul>
<% end %>

<%- model_class = Band -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
</div>

<%= form_for @band, :html => { :class => "form-horizontal band" } do |f| %>

    <%= render :partial => 'form', :locals => {:f => f, :action => 'edit'} %>

    <table class="table table-striped">
      <thead>
      <tr>
        <th class="col-md-2">Member</th>
        <th>Role in the band</th>
      </tr>
      </thead>
      <tbody>

      <%= f.fields_for :band_roles do |r| %>
          <tr>
            <td><%= r.label :role, r.object.user.pretty_name, :class => 'control-label' %></td>
            <td>
              <div class="input-group">
              <%= r.text_field :role, :class => 'form-control' %><%=r.error_span(:role) %>
              <% if can? :destroy_member, r.object.band %>
                  <span class="input-group-btn">
                  <%= link_to 'Remove member',
                              '/bands/drop-member/' + r.object.id.to_s,
                              :method => :delete,
                              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                              :class => 'btn btn-default btn-danger' %>
                  </span>
              <% else %>
                  <div class="input-group-btn" data-toggle="tooltip" data-placement="left" title="You cannot remove the last member">
                    <%= link_to 'Remove member', '#', :class => 'btn btn-default btn-danger disabled' %>
                  </div>
              <% end %>
              </div>
            </td>
          </tr>
      <% end %>

      </tbody>
    </table>

    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")), bands_path, :class => 'btn btn-default' %>
      </div>
    </div>

<% end %>
