<% content_for :sidebar do %>
    <h3>Fans <span class="badge"><%= @band.fans.size %></span></h3>
    <% if @band.fans.blank? %>
      <p>Nobody likes this band so far. You can use <strong>Like this</strong> button to become its first fan.</p>
    <% else %>
    <% end %>

    <% if (can? :update, @band) || (can? :destroy, @band) %>
        <h3>Actions</h3>
        <ul class="nav nav-pills nav-stacked">
          <% if can? :update, @band %>
              <li role="presentation"><%= link_to 'Edit band', edit_band_path(@band) %></li>
          <% end %>
          <% if can? :destroy, @band %>
              <li role="presentation"><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          band_path(@band),
                          :method => 'delete',
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'text-danger' %></li>
          <% end %>
        </ul>
    <% end %>
<% end %>

<div class="page-header">
  <div class="clearfix">
    <h1 class="pull-left"><%= @band.title %></h1>
    <% if user_signed_in? %>
        <%= form_tag band_path(@band) + '/fan', :class => 'pull-right like-button-top' do %>
            <%= check_box_tag :is_fan, 1, @is_fan, :id => 'fan_checkbox' %>
            <%= label_tag 'fan_checkbox', 'Like this' %>
        <% end %>
    <% end %>
  </div>
  <div class="clearfix">
    <p class="pull-left"><i><%= @band.band_genres %></i></p>
    <% if !@band.active %><span class='pull-right text-muted'>band is not active</span><% end %>
  </div>
</div>

<p><%= @band.description %></p>

<h2>Band members</h2>

<dl class="dl-horizontal">
  <% @band.band_roles.each do |band_member| %>
  <dt><strong><%= band_member.user.pretty_name %></strong></dt>
  <dd><em>(<%= band_member.role %>)</em></dd>
  <% end %>
</dl>

<h2>Albums</h2>

<h2>Concerts</h2>

<h2>Comments</h2>

<div class="buttons">
  <%= link_to t('.back', :default => t("helpers.links.back")), bands_path, :class => 'btn btn-default'  %>
</div>
