<%# SIDEBAR CONTENT %>
<% content_for :sidebar do %>
    <h3>Fans <span class="badge"><%= @band.fans.size %></span></h3>
    <% if @band.fans.blank? %>
      <p>Nobody likes this band so far. You can use <strong>Like this</strong> button to become its first fan.</p>
    <% else %>
        <% @fans.each_slice(2) do |fans| %>
          <div class="row">
            <% fans.each do |fan| %>
              <div class="col-lg-6">
                <div class="well well-sm text-center"><%= link_to fan.pretty_name, user_path(fan) %></div>
              </div>
            <% end %>
          </div>
        <% end %>
    <% end %>

    <% if (can? :update, @band) || (can? :destroy, @band) %>
        <h3>Actions</h3>
        <ul class="nav nav-pills nav-stacked">
          <% if can? :update, @band %>
              <li role="presentation"><%= link_to 'Edit band', edit_band_path(@band) %></li>
          <% end %>
          <% if can? :destroy, @band %>
              <li role="presentation"><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          band_path(@band),
                          :method => 'delete',
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'text-danger' %></li>
          <% end %>
        </ul>
    <% end %>
<% end %>

<%# HEADER %>
<% if @band.header.exists? %>
  <% content_for :header do %>
    <div class="header" style="background-image: url(<%= @band.header.url(:large) %>)"></div>
  <% end %>
<% end %>

<%# PAGE CONTENT %>
<div class="page-header">
  <div class="clearfix">
    <h1 class="pull-left"><%= @band.title %></h1>
    <% if user_signed_in? %>
        <%= form_tag band_path(@band) + '/fan', :class => 'pull-right like-button-top' do %>
            <%= check_box_tag :is_fan, 1, @is_fan, :id => 'fan_checkbox' %>
            <%= label_tag 'fan_checkbox', 'Like this' %>
        <% end %>
    <% end %>
  </div>
  <div class="clearfix">
    <p class="pull-left"><i><%= @band.band_genres %></i></p>
    <% if !@band.active %><span class='pull-right text-muted'>band is not active</span><% end %>
  </div>
</div>

<p><%= @band.description %></p>
<h2>Band members</h2>

<dl class="dl-horizontal">
  <% @band.band_roles.each do |band_member| %>
  <dt><strong><%= link_to band_member.user.pretty_name, user_path(band_member.user) %></strong></dt>
  <dd><em>(<%= band_member.role %>)</em></dd>
  <% end %>
</dl>

<ul class="nav nav-tabs band-tabs">
  <li class="<%= 'active' if params[:tab] == 'albums' || params[:tab].nil? %>"><a href="#" data-toggle="tab" data-target="#albums" >Albums</a></li>
  <li class="<%= 'active' if params[:tab] == 'concerts' %>"><a href="#" data-toggle="tab" data-target="#concerts">Concerts</a></li>
  <li class="<%= 'active' if params[:tab] == 'comments' %>"><a href="#" data-toggle="tab" data-target="#comments">Comments</a></li>
</ul>

<div class="tab-content band-tabs">
  <div class="<%= if (params[:tab] == 'albums' || params[:tab].nil?)then 'tab-pane active'  else 'tab-pane' end%>" id="albums"> Albums </div>
  <div class="<%= if (params[:tab] == 'albums')then 'tab-pane active' else 'tab-pane' end%>" id="concerts" >

    <%= check_box_tag(name = "show_past") %>
    <%= label_tag 'show_past', 'Include past events', :style => "font-weight: normal" %>

    <% @band.concerts.where('from_date >= ?', DateTime.current).each do |concert| %>
        <%= render :partial => 'concerts/concert', :locals => {:concert => concert} %>
    <% end %>
    <div id="past" class="hidden">
      <h4>Past events:</h4>
        <% @band.concerts.where('from_date < ?', DateTime.current).each do |concert| %>
            <%= render :partial => 'concerts/concert', :locals => {:concert => concert} %>
        <% end %>
    </div>
  </div>
  <div class="<%= if (params[:tab] == 'comments')then 'tab-pane active'  else 'tab-pane' end%>" id="comments" >
    <%= render :partial => 'comments/band_tab' %>
  </div>
</div>


<div class="buttons">
  <%= link_to t('.back', :default => t("helpers.links.back")), bands_path, :class => 'btn btn-default'  %>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $('#show_past').change(function () {
            if (this.checked)
                $("#past").attr("class","visible");
            else
                $("#past").attr("class","hidden");
        });
    })
</script>